<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="QuanLyBanHang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<userSettings>
        <QuanLyBanHang.Properties.Settings>
                <setting name="IsRecommend" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="CurrentUsername" serializeAs="String">
                        <value />
                </setting>
                <setting name="CurrentPassword" serializeAs="String">
                        <value />
                </setting>
                <setting name="ServerName" serializeAs="String">
                        <value />
                </setting>
                <setting name="DatabaseName" serializeAs="String">
                        <value />
                </setting>
                <setting name="IsWindowAuthentication" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="UserName" serializeAs="String">
                        <value />
                </setting>
                <setting name="Password" serializeAs="String">
                        <value />
                </setting>
                <setting name="CurrentCulture" serializeAs="String">
                        <value>VN</value>
                </setting>
                <setting name="ComputerName" serializeAs="String">
                        <value />
                </setting>
                <setting name="DateFormat" serializeAs="String">
                        <value>dd/MM/yyyy</value>
                </setting>
                <setting name="NumberFormat" serializeAs="String">
                        <value>N0</value>
                </setting>
                <setting name="SkinName" serializeAs="String">
                        <value>Office 2010 Silver</value>
                </setting>
                <setting name="PrinterName" serializeAs="String">
                        <value />
                </setting>
                <setting name="RowsInPage" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="IDAgency" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="FontFormat" serializeAs="String">
                        <value>Tahoma, 9pt</value>
                </setting>
                <setting name="BeginDate" serializeAs="String">
                        <value>2017-01-01</value>
                </setting>
                <setting name="EndDate" serializeAs="String">
                        <value>2017-12-31</value>
                </setting>
        </QuanLyBanHang.Properties.Settings>
    </userSettings>
</configuration>